.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: hsl(4, 81%, 96%, .6) ;
}

.title {
  margin-left: 23px;
}
.main-container {
  display: grid;
  grid-template-columns: 75% 25%;
}

p {
  color: #808B96 ;
}

@media (max-width: 768px) {
  .body {
    padding: 0;
    height: fit-content;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

